# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db
